.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(27, 19, 19, 0.8);
}

.home-title {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  font-weight: 800;
  color: rgb(244, 231, 231);
  margin-top: 20px;
  width: 100%;
  padding: 20px 60px;
  max-width: 700px;
  letter-spacing: 1.2px;
}

.home--search {
  padding-top: 90px;
}
